<!-- Modal -->
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Fast fertig!</h3>
      </div>
      <div class="modal-body">
        <p class="lead hide email-sent final-cases">
          Wir haben dir das fertige Dokument per E-Mail geschickt (<span class="email-sent-to"></span>).
          Bitte leite das Dokument weiter an:
        </p>

        <p class="lead hide download-only final-cases">
          Das Dokument wird jetzt heruntergeladen. Bitte sende es per E-Mail an:
        </p>

        <div class="center-block text-center">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <input type="text" class="form-control" value="markt-copyright-consultation@ec.europa.eu"/>
            </div>
          </div>
        </div>

        <hr/>

        <small>
          The <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/privacy-statement_en.pdf">Privacy statement of the European Commission</a> applies.
        </small>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->