<div class="form-group">
  <label for="name">Dein vollständiger Name</label>
  <input type="text" class="form-control save" name="name" id="name" placeholder="Enter your name">
  <p class="help-block">
    Bitte gib deinen Namen an, damit deine Stimme bei der EU zählt.
  </p>
</div>
<div class="form-group">
  <label for="email"><span class="hidden-xs hidden-sm">Optional: </span>Deine E-Mail-Adresse</label>
  <input type="email" class="form-control save" name="email" placeholder="deine@email.eu">
  <p class="help-block">
    <strong class="visible-xs visible-sm">Das fertige Dokument wird an deine E-Mail-Adresse geschickt.</strong>
    <span class="hidden-xs hidden-sm">Wir können dir das fertige Dokument zuschicken.</span>
    <small>Deine E-Mail-Adresse und alle anderen Angaben werden nur dazu genutzt, dir das fertige Dokument zu schicken.</small>
  </p>
</div>