<section class="section">

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <p class="lead">
        Diese Seite hilft dir beim Ausfüllen der EU-Urheberrechts-Befragung.
      </p>
      <p>Folge einfach diesen Schritten:</p>
      <ol>
        <li>Formular auf dieser Seite ausfüllen</li>
        <li>Download-Button auf dieser Seite klicken</li>
        <li>
          Heruntergeladenes Dokument an <a href="mailto:markt-copyright-consultation@ec.europa.eu">markt-copyright-consultation@ec.europa.eu</a>
          senden.
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h3>Los geht's!</h3>
      <div class="form-group">
        <label for="name">Dein vollständiger Name</label>
        <input type="text" class="form-control save" id="name" placeholder="Enter your name">
        <p class="help-block">
          Bitte gib deinen Namen an, damit deine Stimme bei der EU zählt.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">

    </div>
  </div>

  <div class="row well">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="col-lg-8 col-md-8">
      <a href="#for-organisations" class="toggle">Repräsentierst du eine Organisation?</a>
      <div id="for-organisations" style="display:none">
        <h3>
          Für Organisationen
        </h3>
        <p>
          In the interests of transparency, organisations (including, for example, NGOs, trade associations and commercial enterprises) are invited to provide the public with relevant information about themselves by registering in the <a href="http://ec.europa.eu/transparencyregister/info/homePage.do">Interest Representative Register and subscribing to its Code of Conduct</a>.
        </p>
        <div class="form-group">
          <p>
            If you are a registered organisation, please indicate your Register ID number below. Your contribution will then be considered as representing the views of your organisation.
          </p>
          <label for="register-id">EU Lobby Register ID</label>
          <input type="text" class="form-control save" id="register-id" placeholder="Register ID">
          <p>
            If your organisation is not registered, you have the opportunity to <a href="http://ec.europa.eu/transparencyregister/info/homePage.do">register now</a>.
            Responses from organisations not registered will be published separately.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h4>Wie würdest du dich beschreiben?</h4>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" value="enduser">
          <strong>Endnutzer/Verbraucher</strong>
          <span class="help">
            (z.B. Internetnutzer, Leser, Abonnent von Musik- oder ähnlichen Diensten, Forscher, Student)
          </span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representEnduser" value="representEnduser">
          <strong>Vertreter von Endnutzern/Verbrauchern</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-institution" value="institution">
          <strong>Institutioneller Nutzer</strong>
          <span class="help">
            (z.B. Schule, Universität, Forschungszentrum, Bibliothek, Archiv)
          </span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representInstitution" value="representInstitution">
          <strong>Vertreter von institutionellen Nutzern</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-author" value="author">
          <strong>Autor/Künstler</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representAuthor" value="representAuthor">
          <strong>Vertreter von Autoren/Künstlern</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-publisher" value="publisher">
          <strong>Verlag/Produzent/Rundfunkanstalt</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representPublisher" value="representPublisher">
          <strong>Vertreter von Verlagen/Produzenten/Rundfunkanstalten</strong>
        </label>
      </div>
      <a href="#more-typeofrespondent" class="toggle">Keine von den oben genannten? Mehr Auswahl</a>
      <div id="more-typeofrespondent" style="display:none">
        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-intermediary" value="intermediary">
            <strong>Zwischenhändler/Verteiler/Anderer Diensteanbieter</strong>
            <span class="help">
              (z.B. Online Musik oder audiovisuelle Dienste, Spieleplattform, soziale Medien, Suchmaschine, ICT-Industrie)
            </span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representIntermediary" value="representIntermediary">
            <strong>Vertreter von Zwischenhändlern/Verteilern/Anderen Diensteanbietern</strong>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-collective" value="collective">
            <strong>Collective Management Organisation</strong>
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-publicauthority" value="publicauthority">
            <strong>Öffentliche Anstalt</strong>
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-memberstate" value="memberstate">
            <strong>Mitgliedsstaat</strong>
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-other" value="other">
            <strong>Andere</strong>
          </label>
          <div class="radio-text">
            <label for="otherrespondent">Bitte erklären</label>
            <textarea class="form-control save" id="typeofrespondent-other-text"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h3>Anfragehinweise</h3>
      <p class="lead">Folgende Organisationen haben Hinweise zu den Anfragen vorbereitet:</p>
      <div class="list-group" id="question-guides">
      {% for answer in site.data.answers %}
        {% if page.language == answer.language %}
          <a href="?guide={{ answer.slug }}" class="list-group-item load-question-guide load-question-guide-{{ answer.slug }}">
            <h4 class="list-group-item-heading">
              {{ answer.name }}
            </h4>
            {% if answer.description %}
            <p class="list-group-item-text">
              {{ answer.description }}
            </p>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
      </div>
      <p class="help-block">Klick eine an, um die Hinweise zu laden. <span class="guide">Ihr Text wird so gekennzeichnet sein</span>.</p>
    </div>
    <div class="col-lg-4 col-md-4" id="localstorage-hint">
      <h4>Deine Antworten werden zwischengespeichert</h4>
      <p>
        Du kannst zwischendurch Pause machen und später wieder vorbeikommen, deine Antworten gehen nicht verloren.
      </p>
      <button class="delete-localstorage btn btn-default btn-sm">
        Gespeicherte Antworten löschen
      </button>
    </div>
  </div>

</section>
