body {
  background: #04000e url("../img/30c3/vector.jpg") no-repeat;
  /* cc-by http://www.thevectorart.com/free-abstract-background-vector-art-219.html */
  /* 0 0 no-repeat, url("../img/30c3/30c3-bg.png"); */
  background-size: 100%;
  margin-bottom: 6em;
  width: 100%;
}

a img { border: 0; }

.jumbotron {
  background: rgba(255,255,255,.85);
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;
}
@media (min-width: 992px) { ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
} }
ul li {
  line-height: 1.4em;
  margin-bottom: .4em;
  clear: both;
}
ul li label input {
  float: left;
}
ul li label .problem {
  float: left;
  width: 90%;
  margin-left: .7em;
}
.container .jumbotron {
  display: none;
}
.container.step-start #step-start.jumbotron,
.container.step-problem #step-problem.jumbotron,
.container.step-end #step-end.jumbotron {
  display: block;
}
#questions, .download-document {
  display: none;
}
#step-problem h2:first-of-type,
#step-end h2:first-of-type {
  padding: 0 0 .5em;
}
div.radio label,
div.radio:not(.isChecked) {
  display: none;
}

blockquote.guide {
  line-height: 1.5em;
  background-color: transparent;
  color: #09c;
  border-left: 0;
}

#credits {
  float: right;
  color: #ccc;
}
