body {
  padding-top: 70px;
}

h2 {
  margin-top: 0px;
  padding-top: 70px;
}

textarea {
  min-height: 6em;
}

.navbar-brand {
  margin-right: 2em;
}

.nav-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.side-navbar .active {
  font-weight: bold;
}

.side-navbar.affix {
  position: static;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .side-navbar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .side-navbar.affix,
  .side-navbar.affix-bottom {
    width: 213px;
  }
  .side-navbar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 50px;
  }
  .side-navbar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .side-navbar.affix-bottom .bs-sidenav,
  .side-navbar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .side-navbar.affix-bottom,
  .side-navbar.affix {
    width: 263px;
  }
}

.intro-link, .help {
  color: #bbb;
}

.help:hover {
  color: #333;
}

.guide {
  background-color: rgb(255, 255, 157);
}

.footer-row {
  padding: 1em 0;
}