---
layout: default
title: Public Consultation on the review of the EU copyright rules
headline: EU Copyright Consultation
downloadaction: Download Finished Document
language: en
---

<div class="row header-row">
  <div class="col-lg-8">
    <h1>
      <small>Inofficial web form for the</small><br/>
        Public Consultation<br/>
        on the review of the EU copyright rules
    </h1>
  </div>
  <div class="col-lg-4">
  </div>
</div>
<div class="row">

  <div class="col-lg-3 col-md-3">
    <div class="side-navbar">
      <ul class="nav">
        <li>
          <a href="#intro">Introduction</a>
        </li>
        <li>
          <a href="#rights-single-market">
            Rights and the functioning of the Single Market
          </a>
        </li>
        <li>
          <a href="#private-copying-and-reprography">
            Private copying and reprography
          </a>
        </li>
        <li>
          <a href="#fair-remunerations-of-authors-and-performers">
            Fair remuneration of authors and performers
          </a>
        </li>
        <li>
          <a href="#respect-for-rights">
            Respect for rights
          </a>
        </li>
        <li>
          <a href="#a-single-eu-cooyright-title">
            A single EU Copyright Title
          </a>
        </li>
        <li>
          <a href="#other-issues">
            Other issues
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-md-9">

  {% include en/intro.html %}

  <section class="question-section">
    <div class="page-header">
      <h2 id="rights-single-market">
        Rights and the functioning of the Single Market
        <br/>
        <small>
          Why is it not possible to access many online content services from anywhere in Europe?
        </small>
      </h2>
    </div>

    {% include en/section_2a.html %}
    {% include en/section_2b.html %}
    {% include en/section_2c.html %}
    {% include en/section_2d.html %}
    {% include en/section_2e.html %}

  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="limitations-single-market">
        Limitations and exceptions in the Single Market
      </h2>
    </div>

    {% include en/section_3a.html %}
    {% include en/section_3b.html %}
    {% include en/section_3c.html %}
    {% include en/section_3d.html %}
    {% include en/section_3e.html %}
    {% include en/section_3f.html %}

  </section>


  <section class="question-section">
    <div class="page-header">
      <h2 id="private-copying-and-reprography">
        Private copying and reprography
      </h2>
    </div>
    {% include en/section_4.html %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="fair-remunerations-of-authors-and-performers">
        Fair remuneration of authors and performers
      </h2>
    </div>
    {% include en/section_5.html %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="respect-for-rights">
        Respect for rights
      </h2>
    </div>
    {% include en/section_6.html %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="a-single-eu-cooyright-title">
        A single EU Copyright Title
      </h2>
    </div>
    {% include en/section_7.html %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="other-issues">
        Other issues
      </h2>
    </div>
    {% include en/section_8.html %}
  </section>
  <button type="submit" class="download-document btn btn-success">
    &rarr; {{ page.downloadaction }}
  </button>

  {% include en/footnotes.html %}

  </div>
</div> <!-- /.row -->

{% include en/download_modal.html %}