---
layout: default
title: Öffentliche Befragung zur Reform des Urheberrechts in der EU
headline: EU-Urheberrechts-Befragung
downloadaction: Fertiges Dokument herunterladen
language: de
---

<div class="row header-row" id="intro">
  <div class="col-lg-8">
    <h1>
      <small>Inoffizielle Webseite zur</small><br/>
        Öffentlichen Befragung<br/>
        zur Reform des EU-Urheberrechts
    </h1>
  </div>
  <div class="col-lg-4">
  </div>
</div>
<div class="row">

  <div class="col-lg-3 col-md-3">
    <div class="side-navbar">
      <ul class="nav">
        <li>
          <a href="#intro">Introduction</a>
        </li>
        <li>
          <a href="#rights-single-market">
            Rights and the functioning of the Single Market
          </a>
        </li>
        <li>
          <a href="#private-copying-and-reprography">
            Private copying and reprography
          </a>
        </li>
        <li>
          <a href="#fair-remunerations-of-authors-and-performers">
            Fair remuneration of authors and performers
          </a>
        </li>
        <li>
          <a href="#respect-for-rights">
            Respect for rights
          </a>
        </li>
        <li>
          <a href="#a-single-eu-cooyright-title">
            A single EU Copyright Title
          </a>
        </li>
        <li>
          <a href="#other-issues">
            Other issues
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-md-9">

  {% include de/intro.html %}

  <section class="question-section">
    <div class="page-header">
      <h2 id="rights-single-market">
        Rights and the functioning of the Single Market
        <br/>
        <small>
          Why is it not possible to access many online content services from anywhere in Europe?
        </small>
      </h2>
    </div>
    <h3>The territorial scope of the rights involved in digital transmissions and the segmentation of the market through licensing agreements</h3>

    {% for question_num in (1..7) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>
      Is there a need for more clarity as regards the scope of what needs to be authorised (or not) in digital transmissions?
    </h3>
    <h4>
      The definition of the rights involved in digital transmissions
    </h4>

    {% for question_num in (8..9) %}
      {% include question_loop.html %}
    {% endfor %}

    <h4>Two rights involved in a single act of exploitation</h4>
    {% for question_num in (10..10) %}
      {% include question_loop.html %}
    {% endfor %}

    <h4>Linking and browsing</h4>
    {% for question_num in (11..12) %}
      {% include question_loop.html %}
    {% endfor %}

    <h4>Download to own digital content</h4>

    {% for question_num in (13..14) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>Registration of work and other subject matter – is it a good idea?</h3>
    {% for question_num in (15..18) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>How to improve the use and interoperability of identifiers</h3>
    {% for question_num in (19..19) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>Term of protection – is it appropriate?</h3>
    {% for question_num in (20..20) %}
      {% include question_loop.html %}
    {% endfor %}

  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="limitations-single-market">
        Limitations and exceptions in the Single Market
      </h2>
    </div>

    {% for question_num in (21..27) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>Acces to content in libraries and archives</h3>
    {% for question_num in (28..31) %}
      {% include question_loop.html %}
    {% endfor %}

    <h4>Off-premises access to library collections</h4>
    {% for question_num in (32..35) %}
      {% include question_loop.html %}
    {% endfor %}

    <h4>E-Lending</h4>
    {% for question_num in (36..39) %}
      {% include question_loop.html %}
    {% endfor %}

    <h4>Mass digitisation</h4>
    {% for question_num in (40..41) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>Teaching</h3>
    {% for question_num in (42..46) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>Research</h3>
    {% for question_num in (47..49) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>Disabilities</h3>
    {% for question_num in (50..52) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>Text and data mining</h3>
    {% for question_num in (53..57) %}
      {% include question_loop.html %}
    {% endfor %}

    <h3>User-generated content</h3>
    {% for question_num in (58..63) %}
      {% include question_loop.html %}
    {% endfor %}
  </section>


  <section class="question-section">
    <div class="page-header">
      <h2 id="private-copying-and-reprography">
        Private copying and reprography
      </h2>
    </div>
    {% for question_num in (64..71) %}
      {% include question_loop.html %}
    {% endfor %}

  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="fair-remunerations-of-authors-and-performers">
        Fair remuneration of authors and performers
      </h2>
    </div>
    {% for question_num in (72..74) %}
      {% include question_loop.html %}
    {% endfor %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="respect-for-rights">
        Respect for rights
      </h2>
    </div>
    {% for question_num in (75..77) %}
      {% include question_loop.html %}
    {% endfor %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="a-single-eu-cooyright-title">
        Ein einziger EU Copyright Title
      </h2>
    </div>
    {% for question_num in (78..79) %}
      {% include question_loop.html %}
    {% endfor %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="other-issues">
        Andere Probleme
      </h2>
    </div>
    {% for question_num in (80..80) %}
      {% include question_loop.html %}
    {% endfor %}
  </section>

  <button type="submit" class="download-document btn btn-success">
    &rarr; {{ page.downloadaction }}
  </button>

  </div>
</div> <!-- /.row -->

{% include de/download_modal.html %}
