<!-- Modal -->
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Almost done!</h4>
      </div>
      <div class="modal-body">
        <p class="lead">
          <strong>1. Click the "Download" button below</strong><br/>
          <strong>2. Please send the downloaded document by email to</strong>
        </p>

        <div class="center-block text-center">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <input type="text" class="form-control" value="markt-copyright-consultation@ec.europa.eu"/>
            </div>
          </div>
        </div>

        <hr/>

        <p>
          The <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/privacy-statement_en.pdf">Privacy statement of the European Commission</a> applies.
        </p>

        <p>Thanks for helping to change copyright policy for the better!</p>

      </div>
      <div class="modal-footer">
        <div class="pull-right" id="download-link-container">
          <a id="download" href="" class="btn btn-lg btn-primary disabled">Download</a>
        </div>
        <div class="pull-left" id="download-preparing">Please wait while download is preparing...</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->