<section class="section">
  <div class="page-header">
    <h2 id="intro">Introduction</h2>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <p class="lead">
        This page helps you to fill out the document for <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/index_en.htm">the public consultation on the review of the EU copyright rules</a>.
      </p>
      <p>Just follow these steps:</p>
      <ol>
        <li>Fill out the form on this page</li>
        <li>Click the "Download Finished Document" button at the top</li>
        <li>
          Send the document to <a href="mailto:markt-copyright-consultation@ec.europa.eu">markt-copyright-consultation@ec.europa.eu</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h3>Let's get started!</h3>
      <div class="form-group">
        <label for="name">Your full name</label>
        <input type="text" class="form-control save" id="name" placeholder="Enter your name">
        <p class="help-block">
          Please provide your name to make your voice count.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">

    </div>
  </div>

  <div class="row well">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="col-lg-8 col-md-8">
      <a href="#for-organisations" class="toggle">Do you represent an organisation?</a>
      <div id="for-organisations" style="display:none">
        <h3>
          For organisations
        </h3>
        <p>
          In the interests of transparency, organisations (including, for example, NGOs, trade associations and commercial enterprises) are invited to provide the public with relevant information about themselves by registering in the <a href="http://ec.europa.eu/transparencyregister/info/homePage.do">Interest Representative Register and subscribing to its Code of Conduct</a>.
        </p>
        <div class="form-group">
          <p>
            If you are a registered organisation, please indicate your Register ID number below. Your contribution will then be considered as representing the views of your organisation.
          </p>
          <label for="register-id">EU Lobby Register ID</label>
          <input type="text" class="form-control save" id="register-id" placeholder="Register ID">
          <p>
            If your organisation is not registered, you have the opportunity to <a href="http://ec.europa.eu/transparencyregister/info/homePage.do">register now</a>.
            Responses from organisations not registered will be published separately.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h4>Type of respondent</h4>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" value="enduser">
          <strong>End user/consumer</strong>
          <span class="help">
            (e.g. internet user, reader, subscriber to music or audiovisual service, researcher, student)
          </span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representEnduser" value="representEnduser">
          <strong>Representative of end users/consumers</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-institution" value="institution">
          <strong>Institutional user</strong>
          <span class="help">
            (e.g. school, university, research centre, library, archive)
          </span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representInstitution" value="representInstitution">
          <strong>Representative of institutional users</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-author" value="author">
          <strong>Author/Performer</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representAuthor" value="representAuthor">
          <strong>Representative of authors/performers</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-publisher" value="publisher">
          <strong>Publisher/Producer/Broadcaster</strong>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representPublisher" value="representPublisher">
          <strong>Representative of publishers/producers/broadcasters</strong>
        </label>
      </div>
      <a href="#more-typeofrespondent" class="toggle">Not one of these? Show more</a>
      <div id="more-typeofrespondent" style="display:none">
        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-intermediary" value="intermediary">
            <strong>Intermediary/Distributor/Other service provider</strong>
            <span class="help">
              (e.g. online music or audiovisual service, games platform, social media, search engine, ICT industry)
            </span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-representIntermediary" value="representIntermediary">
            <strong>Representative of intermediaries/distributors/other service providers</strong>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-collective" value="collective">
            <strong>Collective Management Organisation</strong>
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-publicauthority" value="publicauthority">
            <strong>Public authority</strong>
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-memberstate" value="memberstate">
            <strong>Member State</strong>
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" class="save" name="typeofrespondent" id="typeofrespondent-other" value="other">
            <strong>Other</strong>
          </label>
          <div class="radio-text">
            <label for="otherrespondent">Please explain</label>
            <textarea class="form-control save" id="typeofrespondent-other-text"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h3>Question Guides</h3>
      <p class="lead">The following organisations have provided guides to the questions:</p>
      <div class="list-group" id="question-guides">
      {% for answer in site.data.answers %}
        {% if page.language == answer.language %}
          <a href="?guide={{ answer.slug }}" class="list-group-item load-question-guide load-question-guide-{{ answer.slug }}">
            <h4 class="list-group-item-heading">
              {{ answer.name }}
            </h4>
            {% if answer.description %}
            <p class="list-group-item-text">
              {{ answer.description }}
            </p>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
      </div>
      <p class="help-block">Click to load their explanations and suggestions. <span class="guide">Their text will be marked like this</span>.</p>
    </div>
    <div class="col-lg-4 col-md-4" id="localstorage-hint">
      <h4>Your answers are saved</h4>
      <p>
        You can take a break and come back later and your answers will not get lost.
      </p>
      <button class="delete-localstorage btn btn-default btn-sm">
        Delete saved answers
      </button>
    </div>
  </div>

</section>