---
layout: default
title: Publiczne Konsultacje zmian w prawie autorskim UE
headline: Konsultacje Prawa Autorskiego UE
downloadaction: Pobierz ukończony dokument
language: pl
---

<div class="row header-row">
  <div class="col-lg-8">
    <h1>
      <small>Nieoficjalna strona </small><br/>
        Publicznych Konsultacji<br/>
        nad zmianami w prawie autorskim UE
    </h1>
  </div>
  <div class="col-lg-4">
  </div>
</div>
<div class="row">

  <div class="col-lg-3 col-md-3">
    <div class="side-navbar">
      <ul class="nav">
        <li>
          <a href="#intro">Wprowadzenie</a>
        </li>
        <li>
          <a href="#rights-single-market">
	    Prawa i funkcjonowanie Wspólnego Rynku
          </a>
        </li>
        <li>
          <a href="#limitations-single-markett">
	    Ograniczenia i wyjątki na Wspólnym Rynku
          </a>
        </li>
        <li>
          <a href="#private-copying-and-reprography">
	    Kopiowanie na własny użytek i reprografia
          </a>
        </li>
        <li>
          <a href="#fair-remunerations-of-authors-and-performers">
	    Wynagrodzenie dla autorów i wykonawców
          </a>
        </li>
        <li>
          <a href="#respect-for-rights">
	    Poszanowanie praw
          </a>
        </li>
        <li>
          <a href="#a-single-eu-cooyright-title">
	    Jednolite prawo autorskie UE
          </a>
        </li>
        <li>
          <a href="#other-issues">
	    Inne kwestie
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-md-9">

  <form id="consultation-form" method="post" action="{{ site.document_service }}?redirect=http%3a//{{ site.domain }}/{{ page.language }}/thanks.html">
    <input type="hidden" name="language" value="{{ page.language }}"/>
  {% include pl/intro.html %}

  <section class="question-section">
    <div class="page-header">
      <h2 id="rights-single-market">
	Prawa i funkcjonowanie Wspólnego Rynku
        <br/>
        <small>
          Why is it not possible to access many online content services from anywhere in Europe?
        </small>
      </h2>
    </div>

    {% include en/section_2a.html %}
    {% include en/section_2b.html %}
    {% include en/section_2c.html %}
    {% include en/section_2d.html %}
    {% include en/section_2e.html %}

  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="limitations-single-market">
	Ograniczenia i wyjątki na Wspólnym Rynku
      </h2>
    </div>

    {% include en/section_3a.html %}
    {% include en/section_3b.html %}
    {% include en/section_3c.html %}
    {% include en/section_3d.html %}
    {% include en/section_3e.html %}
    {% include en/section_3f.html %}

  </section>


  <section class="question-section">
    <div class="page-header">
      <h2 id="private-copying-and-reprography">
	Kopiowanie na własny użytek i reprografia
      </h2>
    </div>
    {% include en/section_4.html %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="fair-remunerations-of-authors-and-performers">
	Wynagrodzenie autorów i wykonawców
      </h2>
    </div>
    {% include en/section_5.html %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="respect-for-rights">
	Poszanowanie praw
      </h2>
    </div>
    {% include en/section_6.html %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="a-single-eu-cooyright-title">
	Jednolite prawo autorskie UE
      </h2>
    </div>
    {% include en/section_7.html %}
  </section>

  <section class="question-section">
    <div class="page-header">
      <h2 id="other-issues">
	Inne kwestie
      </h2>
    </div>
    {% include en/section_8.html %}
  </section>
  <button type="submit" class="submit-form btn btn-success">
    &rarr; {{ page.downloadaction }}
  </button>

  </form>

  </div>
</div> <!-- /.row -->

{% include pl/download_modal.html %}
