<section class="section">
  <div class="page-header">
    <h2 id="intro">Wprowadzenie</h2>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <p>W najblizszych dniach mamy wyjątkową okazję by powiedzieć Komisji Europejskiej co myślimy na temat naszych praw dotyczących korzystania z kultury w internecie. Komisja ogłosiła bowiem konsultacje dotyczące prawa autorskiego, na ich podstawie zdecyduje, czy konieczna jest reforma tego prawa i w jakim kierunku powinna pójść. Natępna taka okazja byśmy wszyscy mogli się wypowiedzieć na temat prawa do kultury nastapi najpewniej dopiero za 10 lat. Dlatego to bardzo ważne, aby każda i każdy - osobiście lub jako instytucja - wzięli w nich udział.</p>
      <p>
	
	Pytania zostały opublikowane po angielsku, ale możesz na nie odpowiedzieć po polsku, a Komisja Europejska ma obowiązek je uwzględnić.   Tu znajdziesz formularz z pytaniami: <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/consultation-document_en.odt">http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/consultation-document_en.odt</a> <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/consultation-document_en.doc">http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/consultation-document_en.doc</a>
      </p>

      <p>
	Nie musisz wypełniać wszystkich pól ani odpowiadać na wszystkie
	pytania. <!--My wybraliśmy 13 najważniejszych pytań i umieściliśmy przy
	nich omówienia na język polski wraz z ich krótkim omówieniem.-->
      </p>
      <ul>
	<li>Co możesz zrobić, jeśli możesz na to poświęcić:
	  <ol>
            <li>kilka minut: napisz i wyślij odpowiedź na pytanie 80 - to
              pytanie otwarte, w którym mozesz napisać wszystko co jest dla
              ciebie ważne w kontekście prawa autorskiego, np.  jakie zasady
              ci się podobają, a jakie nie, co powinno być Twoim zdaniem
              legalne a co zabronione albo uzależnione od zgody właściciela
              praw; nie musisz znać dobrze przepisów, napisz po prostu w
              jaki sposób chcesz korzystać z filmów, e-booków, czy muzyki
              dostępnej w Sieci;</li>
            <li>pół godziny: napisz swoimi słowami i używając znanych z
              własnego doświadczenia przykładów odpowiedź na 13
              najważniejszych pytań i wyślij Komisji;</li>
            <li>kilka godzin: napisz i wyślij odpowiedzi na wszystkie
              pytania Komisji, które uważasz za ważne.</li>
	  </ol>
	</li>
	<li>
	  Nie wklejaj tekstów znalezionych w Sieci. Napisz własnymi
	  słowami, ponieważ Komisja traktuje wszystkie wypowiedzi
	  wygenerowane automatycznie na podstawie tego samego zestawu
	  gotowych odpowiedzi jako jeden głos.
	</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h3>Zaczynamy!</h3>
      <div class="form-group">
        <label for="name">Twoje pełna Imię i Nazwisko</label>
        <input type="text" class="form-control save" name="name"
	       id="name" placeholder="Wpisz swoje Imie i Nazwisko">
        <p class="help-block">
	  Pełne Imię i Nazwisko jest potrzebne, aby głos był ważny.
        </p>
      </div>
      <div class="form-group">
        <label for="email"><span class="hidden-xs hidden-sm">Opcjonalnie: </span>Twój adres e-mail</label>
        <input type="email" class="form-control save" name="email" placeholder="email">
        <p class="help-block">
          <strong class="visible-xs visible-sm">Ukończony dokument zostanie wysłany na Twój adres e-mail.</strong>
          <span class="hidden-xs hidden-sm">Możemy wysłać gotowy dokument na Twój adres e-mail</span>
          <small>Twój adres e-mail <strong>nie</strong> będzie przez nas przechowywany.</small>
        </p>
      </div>

    </div>
    <div class="col-lg-4 col-md-4">

    </div>
  </div>

  <div class="row well">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="col-lg-8 col-md-8">
      <a href="#for-organisations" class="toggle">Czy reprezentujesz organizację?</a>
      <div id="for-organisations" class="div-toggle">
        <h3>
          Dla organizacji:
        </h3>
        <p>
          In the interests of transparency, organisations (including, for example, NGOs, trade associations and commercial enterprises) are invited to provide the public with relevant information about themselves by registering in the <a href="http://ec.europa.eu/transparencyregister/info/homePage.do">Interest Representative Register and subscribing to its Code of Conduct</a>.
        </p>
        <div class="form-group">
          <p>
            If you are a registered organisation, please indicate your Register ID number below. Your contribution will then be considered as representing the views of your organisation.
          </p>
          <label for="register-id">EU Lobby Register ID</label>
          <input type="text" class="form-control save" name="registerid" id="register-id" placeholder="Register ID">
          <p>
            If your organisation is not registered, you have the opportunity to <a href="http://ec.europa.eu/transparencyregister/info/homePage.do">register now</a>.
            Responses from organisations not registered will be published separately.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h4>Czy chciałbyś napisać coś o sobie?</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-enduser" value="enduser">
          <strong>Użytkownik/konsument</strong>
          <span class="help">
	    (np. użytkownik internetu, czytelnik, użytkownik usług streamujących muzykę lub wideo, badacz, student)
          </span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-representEnduser" value="representEnduser">
          <strong>Przedstawiciel użytkowników/konsumentów</strong>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-institution" value="institution">
          <strong>Członek instytucji</strong>
          <span class="help">
	    (np. szkoły, uniwersytetu, centrum badawczego, biblioteki, archiwum)
          </span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-representInstitution" value="representInstitution">
          <strong>Przedstawiciel instytucji</strong>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-author" value="author">
          <strong>Autor/twórca/artysta</strong> lub <strong>Przedstawiciel autorów/twórców/artystów</strong>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-publisher" value="publisher">
          <strong>Wydawca/producent/nadawca</strong> lub <strong>Przedstawiciel wydawcy/producenta/nadawcy</strong>
        </label>
      </div>
      <a href="#more-typeofrespondent" class="toggle">Nikt z powyższych? Pokaż więcej</a>
      <div id="more-typeofrespondent" class="div-toggle">
        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-intermediary" value="intermediary">
            <strong>Zwischenhändler/Verteiler/Anderer Diensteanbieter</strong>
            <span class="help">
              (z.B. Online Musik oder audiovisuelle Dienste, Spieleplattform, soziale Medien, Suchmaschine, ICT-Industrie)
            </span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-representIntermediary" value="representIntermediary">
            <strong>Vertreter von Zwischenhändlern/Verteilern/Anderen Diensteanbietern</strong>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-collective" value="collective">
            <strong>Collective Management Organisation</strong>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-publicauthority" value="publicauthority">
            <strong>Öffentliche Anstalt</strong>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-memberstate" value="memberstate">
            <strong>Mitgliedsstaat</strong>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-other" value="other">
            <strong>Andere</strong>
          </label>
          <div class="radio-text">
            <label for="otherrespondent">Bitte erklären</label>
            <textarea class="form-control save" name="typeofrespondentother" id="typeofrespondent-other-text"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row needs-js hide">
    <div class="col-lg-8 col-md-8">
      <h3>Anfragehinweise</h3>
      <p class="lead">Niniejsze organizacje dostarczyły przewodnika do pytań:</p>
      <div class="list-group" id="question-guides">
      {% for answer in site.data.answers %}
        {% if page.language == answer.language %}
          <a href="?guide={{ answer.slug }}" class="list-group-item load-question-guide load-question-guide-{{ answer.slug }}">
            <h4 class="list-group-item-heading">
              {{ answer.name }}
            </h4>
            {% if answer.description %}
            <p class="list-group-item-text">
              {{ answer.description }}
            </p>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
      </div>
      <p class="help-block">Kliknij, aby zobaczyć wskazówki <span class="guide">Ich tekst będzie wyglądał tak</span>.</p>
    </div>
    <div class="col-lg-4 col-md-4" id="localstorage-hint">
      <h4>Twoje odpowiedzi będą zapisane</h4>
      <p>
	Możesz zrobić przerwę i wrócić później, a Twoje odpowiedzi nie znikną.
      </p>
      <button class="delete-localstorage btn btn-default btn-sm">
	Usuń zapisane odpowiedzi
      </button>
    </div>
  </div>

</section>
