<div class="row">
  <div class="col-lg-8 col-md-8">
    <hr/>
    <h4 id="footnotes">Footnotes</h4>
    <a href="#footnote-div" class="intro-link toggle">Show footnotes</a>
<div id="footnote-div" style="display:none">
  <div id="sdfootnote1">
    <p><a class="sdfootnotesym" name="sdfootnote1sym" href="#sdfootnote1anc">1</a>
    COM (2012)789 final, 18/12/2012.</p>
  </div>
  <div id="sdfootnote2">
    <p><a class="sdfootnotesym" name="sdfootnote2sym" href="#sdfootnote2anc">2</a>
    As announced in the Intellectual Property Strategy ' A single market
    for Intellectual Property Rights: COM (2011)287 final, 24/05/2011.</p>
  </div>
  <div id="sdfootnote3">
    <p><a class="sdfootnotesym" name="sdfootnote3sym" href="#sdfootnote3anc">3</a>
    <I>&quot;Based on market studies and impact assessment and legal
    drafting work</I><I>&quot;</I> as announced in the Communication
    (2012)789.</p>
  </div>
  <div id="sdfootnote4">
    <p><a class="sdfootnotesym" name="sdfootnote4sym" href="#sdfootnote4anc">4</a>
    See the document “Licences for Europe – tem pledges to bring
    more content online”:
    <U><a href="http://ec.europa.eu/internal_market/copyright/docs/licences-for-europe/131113_ten-pledges_en.pdf" TARGET="_top">http://ec.europa.eu/internal_market/copyright/docs/licences-for-europe/131113_ten-pledges_en.pdf</a></U>
    .</p>
  </div>
  <div id="sdfootnote5">
    <p><a class="sdfootnotesym" name="sdfootnote5sym" href="#sdfootnote5anc">5</a><SPAN LANG="pt-PT">
    </SPAN><SPAN LANG="pt-PT">EUCO 169/13, 24/25 October 2013.</SPAN></p>
  </div>
  <div id="sdfootnote6">
    <p><a class="sdfootnotesym" name="sdfootnote6sym" href="#sdfootnote6anc">6</a><SPAN LANG="pt-PT">
    </SPAN><SPAN LANG="pt-PT">COM(2008) 466/3,
    </SPAN><U><a href="http://ec.europa.eu/internal_market/copyright/copyright-infso/index_en.htm#maincontentSec2" TARGET="_top"><SPAN LANG="pt-PT">http://ec.europa.eu/internal_market/copyright/copyright-infso/index_en.htm#maincontentSec2</SPAN></a></U><SPAN LANG="pt-PT">.</SPAN></p>
  </div>
  <div id="sdfootnote7">
    <p><a class="sdfootnotesym" name="sdfootnote7sym" href="#sdfootnote7anc">7</a><SPAN LANG="pt-PT">
    </SPAN><SPAN LANG="pt-PT">COM(2011) 427 final,
    </SPAN><U><a href="http://ec.europa.eu/internal_market/consultations/2011/audiovisual_en.htm" TARGET="_top"><SPAN LANG="pt-PT">http://ec.europa.eu/internal_market/consultations/2011/audiovisual_en.htm</SPAN></a></U><SPAN LANG="pt-PT">.</SPAN></p>
  </div>
  <div id="sdfootnote8">
    <p><a class="sdfootnotesym" name="sdfootnote8sym" href="#sdfootnote8anc">8</a><U><a href="http://ec.europa.eu/internal_market/consultations/2009/content_online_en.htm" TARGET="_top"><SPAN LANG="pt-PT">http://ec.europa.eu/internal_market/consultations/2009/content_online_en.htm</SPAN></a></U><SPAN LANG="pt-PT">.</SPAN></p>
  </div>
  <div id="sdfootnote9">
    <p><a class="sdfootnotesym" name="sdfootnote9sym" href="#sdfootnote9anc">9</a>
    This principle has been confirmed by the Court of justice on several
    occasions.</p>
  </div>
  <div id="sdfootnote10">
    <p><a class="sdfootnotesym" name="sdfootnote10sym" href="#sdfootnote10anc">10</a>
    Proposal for a Directive of the European Parliament and of the
    Council of 11 July 2012 on collective management of copyright and
    related rights and multi-territorial licensing of rights in musical
    works for online uses in the internal market, COM(2012) 372 final.</p>
  </div>
  <div id="sdfootnote11">
    <p><a class="sdfootnotesym" name="sdfootnote11sym" href="#sdfootnote11anc">11</a>
     Collective Management Organisations play a significant role in the
    management of online rights for musical works in contrast to the
    situation where online rights are licensed directly by right holders
    such as film or record producers or by newspaper or book publishers.</p>
  </div>
  <div id="sdfootnote12">
    <p><a class="sdfootnotesym" name="sdfootnote12sym" href="#sdfootnote12anc">12</a>You
    can find more information on the following website:
    <U><a href="http://ec.europa.eu/licences-for-europe-dialogue/" TARGET="_top">http://ec.europa.eu/licences-for-europe-dialogue/</a></U>.</p>
  </div>
  <div id="sdfootnote13">
    <p><a class="sdfootnotesym" name="sdfootnote13sym" href="#sdfootnote13anc">13</a>You
    can find more information on the following website:
    <U><a href="http://www.linkedcontentcoalition.org/" TARGET="_top">http://www.linkedcontentcoalition.org</a></U>/.</p>
  </div>
  <div id="sdfootnote14">
    <p><a class="sdfootnotesym" name="sdfootnote14sym" href="#sdfootnote14anc">14</a>
    See the document “Licences for Europe – tem pledges to bring
    more content online”:
    <U><a href="http://ec.europa.eu/internal_market/copyright/docs/licences-for-europe/131113_ten-pledges_en.pdf" TARGET="_top">http://ec.europa.eu/internal_market/copyright/docs/licences-for-europe/131113_ten-pledges_en.pdf</a></U>
    .</p>
  </div>
  <div id="sdfootnote15">
    <p><a class="sdfootnotesym" name="sdfootnote15sym" href="#sdfootnote15anc">15</a>
    For possible long term measures such as the establishment of a
    European Copyright Code (establishing a&nbsp;single title) see
    section VII of this consultation document.</p>
  </div>
  <div id="sdfootnote16">
    <p><a class="sdfootnotesym" name="sdfootnote16sym" href="#sdfootnote16anc">16</a>
    Directive 2001/29/EC of the European Parliament and of the Council
    of 22 May 2001 on the harmonisation of certain aspects of copyright
    and related rights in the information society.</p>
  </div>
  <div id="sdfootnote17">
    <p><a class="sdfootnotesym" name="sdfootnote17sym" href="#sdfootnote17anc">17</a>
    Directive 2009/24/EC of the European Parliament and of the Council
    of 23 April 2009 on the legal protection of computer programs.</p>
  </div>
  <div id="sdfootnote18">
    <p><a class="sdfootnotesym" name="sdfootnote18sym" href="#sdfootnote18anc">18</a>
    Directive 96/9/EC of the European Parliament and of the Council of
    11 March 1996 on the legal protection of databases.</p>
  </div>
  <div id="sdfootnote19">
    <p><a class="sdfootnotesym" name="sdfootnote19sym" href="#sdfootnote19anc">19</a>
    Film and record producers, performers and broadcasters are holders
    of so-called “neighbouring rights” in, respectively, their
    films, records, performances and broadcast. Authors’ content
    protected by copyright is referred to as a “work” or “works”,
    while content protected by neighbouring rights is referred to as
    “other subject matter”.</p>
  </div>
  <div id="sdfootnote20">
    <p><a class="sdfootnotesym" name="sdfootnote20sym" href="#sdfootnote20anc">20</a>
    The right to “authorise or prohibit direct or indirect, temporary
    or permanent reproduction by any means and in any form, in whole or
    in part” (see Art. 2 of Directive 2001/29/EC) although temporary
    acts of reproduction of a transient or incidental nature are, under
    certain conditions, excluded (see art. 5(1)  of Directive
    2001/29/EC).</p>
  </div>
  <div id="sdfootnote21">
    <p><a class="sdfootnotesym" name="sdfootnote21sym" href="#sdfootnote21anc">21</a>
    The right to authorise or prohibit any communication to the public
    by wire or wireless means and to authorise or prohibit the making
    available to the public “on demand” (see Art. 3 of Directive
    2001/29/EC).</p>
  </div>
  <div id="sdfootnote22">
    <p><a class="sdfootnotesym" name="sdfootnote22sym" href="#sdfootnote22anc">22</a>
    See in particular Case C-173/11 (Football Dataco vs Sportradar) and
    Case C-5/11 (Donner) for copyright and related rights, and Case
    C-324/09 (L’Oréal vs eBay) for trademarks. With regard to
    jurisdiction see also joined Cases C-585/08 and C-144/09 (Pammer and
    Hotel Alpenhof) and pending CaseC-441/13 (Pez Hejduk); see however,
    adopting a different approach, Case C-170/12 (Pinckney vs KDG
    Mediatech).</p>
  </div>
  <div id="sdfootnote23">
    <p><a class="sdfootnotesym" name="sdfootnote23sym" href="#sdfootnote23anc">23</a>
    The objective of implementing a “country of origin” approach is
    to localise the copyright relevant act that must be licenced in a
    single Member State (the &quot;country of origin&quot;, which could
    be for example the Member State in which the content is uploaded or
    where the service provider is established), regardless of in how
    many Member States the work can be accessed or received. Such an
    approach has already been introduced at EU level with regard to
    broadcasting by satellite (see Directive 93/83/EEC on the
    coordination of certain rules concerning copyright and rights
    related to copyright applicable to satellite broadcasting and cable
    retransmission).</p>
  </div>
  <div id="sdfootnote24">
    <p><a class="sdfootnotesym" name="sdfootnote24sym" href="#sdfootnote24anc">24</a>
    Injunctive relief is a temporary or permanent remedy allowing the
    right holder to stop or prevent an&nbsp;infringement of his/her
    right.</p>
  </div>
  <div id="sdfootnote25">
    <p><a class="sdfootnotesym" name="sdfootnote25sym" href="#sdfootnote25anc">25</a>
      Cases C-466/12 (Svensson), C-348/13 (Bestwater International)  and
    C-279/13 (C More entertainment).</p>
  </div>
  <div id="sdfootnote26">
    <p><a class="sdfootnotesym" name="sdfootnote26sym" href="#sdfootnote26anc">26</a>
     Case C-360/13 (Public Relations Consultants Association Ltd). See
    also
    <U><a href="http://www.supremecourt.gov.uk/decided-cases/docs/UKSC_2011_0202_PressSummary.pdf" TARGET="_top">http://www.supremecourt.gov.uk/decided-cases/docs/UKSC_2011_0202_PressSummary.pdf</a></U>.</p>
  </div>
  <div id="sdfootnote27">
    <p><a class="sdfootnotesym" name="sdfootnote27sym" href="#sdfootnote27anc">27</a>
    See also recital 28 of Directive 2001/29/EC.</p>
  </div>
  <div id="sdfootnote28">
    <p><a class="sdfootnotesym" name="sdfootnote28sym" href="#sdfootnote28anc">28</a>
    In Case C-128/11 (Oracle vs. UsedSoft) the CJEU ruled that an author
    cannot oppose the resale of a second-hand licence that allows
    downloading his computer program from his website and using it for
    an unlimited period of time. The exclusive right of distribution of
    a copy of a computer program covered by such a licence is exhausted
    on its first sale. While it is thus admitted that the distribution
    right may be subject to exhaustion in case of computer programs
    offered for download with the right holder’s consent, the Court
    was careful to emphasise that it reached this decision based on the
    Computer Programs Directive.  It was stressed that this exhaustion
    rule constituted a <I>lex specialis </I>in relation to the
    Information Society Directive (UsedSoft, par. 51, 56).
    </p>
  </div>
  <div id="sdfootnote29">
    <p><a class="sdfootnotesym" name="sdfootnote29sym" href="#sdfootnote29anc">29</a>
    For example, it does not affect “domestic” works – i.e. works
    originating in the country imposing the formalities as opposed to
    works originating in another country.</p>
  </div>
  <div id="sdfootnote30">
    <p><a class="sdfootnotesym" name="sdfootnote30sym" href="#sdfootnote30anc">30</a>
    On the basis of Article 3.6 of the Directive 2012/28/EU of the
    European Parliament and of the Council of 25 October 2012 on certain
    permitted uses of orphan works, a publicly accessible online
    database is currently being set up by the Office for Harmonisation
    of the Internal Market (OHIM) for the registration of orphan works.

    </p>
  </div>
  <div id="sdfootnote31">
    <p><a class="sdfootnotesym" name="sdfootnote31sym" href="#sdfootnote31anc">31</a>
    E.g. the International Standard Recording Code (ISRC) is used to
    identify recordings, the International Standard Book Number (ISBN)
    is used to identify books.</p>
  </div>
  <div id="sdfootnote32">
    <p><a class="sdfootnotesym" name="sdfootnote32sym" href="#sdfootnote32anc">32</a>
    You will find more information about this initiative on the
    following website: <U><a href="http://www.globalrepertoiredatabase.com/" TARGET="_top">http://www.globalrepertoiredatabase.com/</a></U>.</p>
  </div>
  <div id="sdfootnote33">
    <p><a class="sdfootnotesym" name="sdfootnote33sym" href="#sdfootnote33anc">33</a>
    You will find more information about this initiative (funded in part
    by the European Commission) on the following website:
    www.linkedcontentcoalition.org.</p>
  </div>
  <div id="sdfootnote34">
    <p><a class="sdfootnotesym" name="sdfootnote34sym" href="#sdfootnote34anc">34</a>
    You will find more information about this initiative on the
    following website: <U><a href="http://www.copyrighthub.co.uk/" TARGET="_top">http://www.copyrighthub.co.uk/</a></U>.

    </p>
  </div>
  <div id="sdfootnote35">
    <p><a class="sdfootnotesym" name="sdfootnote35sym" href="#sdfootnote35anc">35</a>
    Berne Convention for the Protection of Literary and Artistic Works,
    <U><a href="http://www.wipo.int/treaties/en/ip/berne/" TARGET="_top">http://www.wipo.int/treaties/en/ip/berne/</a></U>.</p>
  </div>
  <div id="sdfootnote36">
    <p><a class="sdfootnotesym" name="sdfootnote36sym" href="#sdfootnote36anc">36</a>
    Plus Directive 96/9/EC on the legal protection of databases;
    Directive 2009/24/EC on the legal protection of computer programs,
    and Directive 92/100/EC on rental right and lending right.</p>
  </div>
  <div id="sdfootnote37">
    <p><a class="sdfootnotesym" name="sdfootnote37sym" href="#sdfootnote37anc">37</a>
    Article 9(2) of the Berne Convention for the Protection of Literary
    and Artistic Works (1971); Article 13 of the TRIPS Agreement (Trade
    Related Intellectual Property Rights) 1994; Article 16(2) of the
    WIPO Performers and Phonograms Treaty (1996); Article 9(2) of the
    WIPO Copyright Treaty (1996).
    </p>
  </div>
  <div id="sdfootnote38">
    <p><a class="sdfootnotesym" name="sdfootnote38sym" href="#sdfootnote38anc">38</a>
    Other than the grandfathering of the exceptions
    of minor importance for analogue uses existing in Member States at
    the time of adoption of Directive 2001/29/EC
    (see, Art. 5(3)(o)).</p>
  </div>
  <div id="sdfootnote39">
    <p><a class="sdfootnotesym" name="sdfootnote39sym" href="#sdfootnote39anc">39</a>
    With the exception of certain limitations: (i) in the Computer
    Programs Directive, (ii) in the Database Directive, (iii) Article
    5(1) in the Directive 2001/29/EC and (iv) the Orphan Works
    Directive.</p>
  </div>
  <div id="sdfootnote40">
    <p><a class="sdfootnotesym" name="sdfootnote40sym" href="#sdfootnote40anc">40</a>
    Only the exception established in the recent Orphan Works Directive
    (a mandatory exception to copyright and related rights in the case
    where the rightholders are not known or cannot be located) has been
    given a cross-border effect, which means that, for instance, once a
    literary work – for instance a novel – is considered an orphan
    work in a Member State, that same novel shall be considered an
    orphan work in all Member States and can be used and accessed in all
    Member States.</p>
  </div>
  <div id="sdfootnote41">
    <p><a class="sdfootnotesym" name="sdfootnote41sym" href="#sdfootnote41anc">41</a><SPAN STYLE="text-decoration: none">
    </SPAN><SPAN STYLE="text-decoration: none">Article
    5(2)c of Directive 2001/29</SPAN><SPAN STYLE="text-decoration: none">.</SPAN></p>
  </div>
  <div id="sdfootnote42">
    <p><a class="sdfootnotesym" name="sdfootnote42sym" href="#sdfootnote42anc">42</a>
    Article 5(3)n of Directive 2001/29.</p>
  </div>
  <div id="sdfootnote43">
    <p><a class="sdfootnotesym" name="sdfootnote43sym" href="#sdfootnote43anc">43</a>
    Article 5 of Directive 2006/115/EC.</p>
  </div>
  <div id="sdfootnote44">
    <p><a class="sdfootnotesym" name="sdfootnote44sym" href="#sdfootnote44anc">44</a>
     You will find more information about his MoU on the following
    website:
    <U><a href="http://ec.europa.eu/internal_market/copyright/out-of-commerce/index_en.htm" TARGET="_top">http://ec.europa.eu/internal_market/copyright/out-of-commerce/index_en.htm</a></U>
    .</p>
  </div>
  <div id="sdfootnote45">
    <p><a class="sdfootnotesym" name="sdfootnote45sym" href="#sdfootnote45anc">45</a>
    France and Germany have already adopted legislation to back the
    effects of the MoU. <SPAN LANG="fr-BE">The French act (LOI n°
    2012-287 du 1er mars 2012 relative à l'exploitation numérique des
    livres indisponibles du xxe siècle) foresees collecti</SPAN><SPAN LANG="fr-BE">ve</SPAN><SPAN LANG="fr-BE">
    management, unless the author or publisher in question opposes such
    management. </SPAN><SPAN LANG="de-DE">The German act (Gesetz zur
    Nutzung verwaister und vergriffener Werke und einer weiteren
    Änderung des Urheberrech</SPAN><SPAN LANG="de-DE">tsgesetzes vom 1.
    </SPAN>Oktober 2013) contains a legal presumption of representation
    by a collecting society in relation to works whose rightholders are
    not members of the collecting society.
    </p>
  </div>
  <div id="sdfootnote46">
    <p><a class="sdfootnotesym" name="sdfootnote46sym" href="#sdfootnote46anc">46</a>
    Article 5(3)a of Directive 2001/29.</p>
  </div>
  <div id="sdfootnote47">
    <p><a class="sdfootnotesym" name="sdfootnote47sym" href="#sdfootnote47anc">47</a>
    Article 5(3)a of Directive 2001/29.</p>
  </div>
  <div id="sdfootnote48">
    <p><a class="sdfootnotesym" name="sdfootnote48sym" href="#sdfootnote48anc">48</a>
    Article 5 (3)b of Directive 2001/29.</p>
  </div>
  <div id="sdfootnote49">
    <p><a class="sdfootnotesym" name="sdfootnote49sym" href="#sdfootnote49anc">49</a>
    The European Trusted Intermediaries Network (ETIN) resulting from a
    Memorandum of Understanding between representatives of the
    right-holder community (publishers, authors, collecting societies)
    and interested parties such as associations for blind and dyslexic
    persons
    (<U><a href="http://ec.europa.eu/internal_market/copyright/initiatives/access/index_en.htm" TARGET="_top">http://ec.europa.eu/internal_market/copyright/initiatives/access/index_en.htm</a></U>)
    and the Trusted Intermediary Global Accessible Resources (TIGAR)
    project in WIPO (<U><a href="http://www.visionip.org/portal/en/" TARGET="_top">http://www.visionip.org/portal/en/</a></U>).</p>
  </div>
  <div id="sdfootnote50">
    <p><a class="sdfootnotesym" name="sdfootnote50sym" href="#sdfootnote50anc">50</a>
    Marrakesh Treaty to Facilitate Access to Published Works by Visually
    Impaired Persons and Persons with Print Disabilities, Marrakesh,
    June 17 to 28  2013.</p>
  </div>
  <div id="sdfootnote51">
    <p><a class="sdfootnotesym" name="sdfootnote51sym" href="#sdfootnote51anc">51</a>
    For the purpose of the present document, the term “text and data
    mining” will be used.
    </p>
  </div>
  <div id="sdfootnote52">
    <p><a class="sdfootnotesym" name="sdfootnote52sym" href="#sdfootnote52anc">52</a>
    See the document “Licences for Europe – ten pledges to bring
    more content online”:
    <U><a href="http://ec.europa.eu/internal_market/copyright/docs/licences-for-europe/131113_ten-pledges_en.pdf" TARGET="_top">http://ec.europa.eu/internal_market/copyright/docs/licences-for-europe/131113_ten-pledges_en.pdf</a></U>
    .</p>
    <p><br/>
    </p>
  </div>
  <div id="sdfootnote53">
    <p><a class="sdfootnotesym" name="sdfootnote53sym" href="#sdfootnote53anc">53</a>
    A typical example could be the “kitchen” or “wedding” video
    (adding one's own video to a pre-existing sound recording), or
    adding one's own text to a pre-existing photograph. Other examples
    are “mash-ups” (blending two sound recordings), and reproducing
    parts of journalistic work (report, review etc.) in a blog.</p>
  </div>
  <div id="sdfootnote54">
    <p><a class="sdfootnotesym" name="sdfootnote54sym" href="#sdfootnote54anc">54</a>
    See the document “Licences for Europe – ten pledges to bring
    more content online”:
    <U><a href="http://ec.europa.eu/internal_market/copyright/docs/licences-for-europe/131113_ten-pledges_en.pdf" TARGET="_top">http://ec.europa.eu/internal_market/copyright/docs/licences-for-europe/131113_ten-pledges_en.pdf</a></U>
    .</p>
  </div>
  <div id="sdfootnote55">
    <p><a class="sdfootnotesym" name="sdfootnote55sym" href="#sdfootnote55anc">55</a>
    Article 5. 2)(a) and (b) of Directive 2001/29.</p>
  </div>
  <div id="sdfootnote56">
    <p><a class="sdfootnotesym" name="sdfootnote56sym" href="#sdfootnote56anc">56</a>
    Communication &quot;Unleashing the Potential of Cloud Computing in
    Europe&quot;, COM(2012) 529 final.</p>
  </div>
  <div id="sdfootnote57">
    <p><a class="sdfootnotesym" name="sdfootnote57sym" href="#sdfootnote57anc">57</a>
    These issues were addressed in the recommendations of Mr António
    Vitorino resulting from the mediation on private copying and
    reprography levies. You can consult these recommendations on the
    following website:
    <U><a href="http://ec.europa.eu/internal_market/copyright/docs/levy_reform/130131_levies-vitorino-recommendations_en.pdf" TARGET="_top">http://ec.europa.eu/internal_market/copyright/docs/levy_reform/130131_levies-vitorino-recommendations_en.pdf</a></U>.</p>
  </div>
  <div id="sdfootnote58">
    <p><a class="sdfootnotesym" name="sdfootnote58sym" href="#sdfootnote58anc">58</a>
    Art. 5.2(a) and 5.2(b) of Directive 2001/29/EC.</p>
  </div>
  <div id="sdfootnote59">
    <p><a class="sdfootnotesym" name="sdfootnote59sym" href="#sdfootnote59anc">59</a>
    This issue was also addressed in the recommendations of Mr Antonio
    Vitorino resulting from the mediation on private copying and
    reprography levies</p>
  </div>
  <div id="sdfootnote60">
    <p><a class="sdfootnotesym" name="sdfootnote60sym" href="#sdfootnote60anc">60</a>
    This issue was also addressed in the recommendations of Mr Antonio
    Vitorino resulting from the mediation on private copying and
    reprography levies.</p>
  </div>
  <div id="sdfootnote61">
    <p><a class="sdfootnotesym" name="sdfootnote61sym" href="#sdfootnote61anc">61</a>
    This issue was also addressed in the recommendations of Mr Antonio
    Vitorino resulting from the mediation on private copying and
    reprography levies.</p>
  </div>
  <div id="sdfootnote62">
    <p><a class="sdfootnotesym" name="sdfootnote62sym" href="#sdfootnote62anc">62</a>
    See e.g. Directive 92/100/EEC, Art.2(4)-(7).</p>
  </div>
  <div id="sdfootnote63">
    <p><a class="sdfootnotesym" name="sdfootnote63sym" href="#sdfootnote63anc">63</a>
    See e.g. Art. 2.3. of Directive 2009/24/EC, Art. 4 of Directive
    96/9/EC.</p>
  </div>
  <div id="sdfootnote64">
    <p><a class="sdfootnotesym" name="sdfootnote64sym" href="#sdfootnote64anc">64</a>
    Directive 2004/48/EC of the European Parliament and of the Council
    of 29 April 2004 on the enforcement of&nbsp;intellectual property
    rights.</p>
  </div>
  <div id="sdfootnote65">
    <p><a class="sdfootnotesym" name="sdfootnote65sym" href="#sdfootnote65anc">65</a>
    You will find more information on the following website:
    <U><a href="http://ec.europa.eu/internal_market/iprenforcement/directive/index_en.htm" TARGET="_top">http://ec.europa.eu/internal_market/iprenforcement/directive/index_en.htm</a></U>

    </p>
  </div>
  <div id="sdfootnote66">
    <p><a class="sdfootnotesym" name="sdfootnote66sym" href="#sdfootnote66anc">66</a>
    For example when the infringing content is offered on a website
    which gets advertising revenues that depend on&nbsp;the volume of
    traffic.</p>
  </div>
  <div id="sdfootnote67">
    <p><a class="sdfootnotesym" name="sdfootnote67sym" href="#sdfootnote67anc">67</a>
    This clarification should not affect the liability regime of
    intermediary service providers established by Directive 2000/31/EC
    on electronic commerce, which will remain unchanged.</p>
  </div>
  </div>
</div>
</div>
