  <div class="col-lg-4 col-md-4">
    <div id="q-{{ question.num }}-explanation" class="explanation"{% unless question.explanation %} style="display:none"{% endunless %}>
      <h4>Explanation</h4>
      <p class="explanation-text">
        {{ question.explanation }}
      </p>
    </div>
    <div class="list-group answer-choices-{{ question.num }}">
    {% for answer in site.data.answers %}
      {% if page.language == answer.language %}
        {% if answer.questions == null or answer.questions contains question.num %}
          <a href="#{{ answer.slug }}" id="answer-choice-{{ answer.slug }}-{{ question.num }}" data-question="{{ question.num }}" class="list-group-item load-question answer-choice-{{ answer.slug }}">
            {{ answer.name }}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
