<div class="row">
  <div class="col-lg-8 col-md-8">
  </div>
  <div class="col-lg-4 col-md-4">
    <a href="#intro-8-1" class="intro-link toggle">Show introduction</a>
  </div>
</div>
<div id="intro-8-1" style="display:none" class="row">
  <div class="col-lg-8 col-md-8">
    <p>
      The above questionnaire aims to provide a comprehensive consultation on the most important matters relating to the current EU legal framework for copyright. Should any important matters have been omitted, we would appreciate if you could bring them to our attention, so they can be properly addressed in the future.
    </p>
  </div>
  <div class="col-lg-4 col-md-4">
    <h4>Summary</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
</div>

{% for question_num in (80..80) %}
  {% for question in site.data.questions %}
    {% if question.num == question_num %}
      {% include question.html %}
    {% endif %}
  {% endfor %}
{% endfor %}