<div class="form-group">
  <label for="name">Your full name</label>
  <input type="text" class="form-control save" name="name" id="name" placeholder="Enter your name">
  <p class="help-block">
    Indícanos tu nombre para que tu voz cuente.
  </p>
</div>
<div class="form-group">
  <label for="email"><span class="hidden-xs hidden-sm">Optional: </span>Tu dirección de email</label>
  <input type="email" class="form-control save" name="email" placeholder="your@email.eu">
  <p class="help-block">
    <strong class="visible-xs visible-sm">Te enviaremos el documento finalizado por email.</strong>
    <span class="hidden-xs hidden-sm">Podemos enviarte el documento finalizado por email.</span>
    <small>La dirección de email la utilizaremos <strong>únicamente</strong> para enviar el documento finalizado.</small>
  </p>
</div>
