<section class="section">
  <div class="page-header">
    <h2 id="intro">Introducción</h2>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <p class="lead">
        Esta página te ayudará a rellenar el documento para la <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/index_en.htm">consulta pública sobre la revisión de la normativa de copyright de la Unión Europea</a>.
      </p>
      <p>Solo tienes que seguir estos pasos:</p>
      <ol>
        <li>Rellena el formulario de esta página</li>
        <li>Pulsa "Descargar documento finalizado" en la parte superior</li>
        <li>
          Envía el documento a <a href="mailto:markt-copyright-consultation@ec.europa.eu">markt-copyright-consultation@ec.europa.eu</a>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h3>¡Comencemos!!</h3>
      {% include en/email_name.html %}
    </div>
    <div class="col-lg-4 col-md-4">

    </div>
  </div>

  <div class="row well">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="col-lg-8 col-md-8">
      <a href="#for-organisations" class="toggle">¿Representas a una organización?</a>
      <div id="for-organisations" class="div-toggle">
        <h3>
          Para organizaciones
        </h3>
        <p>
          Para una mayor transparencia, se solicita a las organizaciones (incluidas por ejemplo las ONG, asociaciones mercantiles y empresas comerciales) que proporcionen públicamente la información relevante sobre ellos mismos en el registro <a href="http://ec.europa.eu/transparencyregister/info/homePage.do">Registro de representantes de intereses y suscribir su Código de Conducta</a>.
        </p>
        <div class="form-group">
          <p>
            Si representas a una organización registrada, indícanos a continuación tu ID de registro. Tu contribución será considerada como representante de las opiniones de tu organización.
          </p>
          <label for="register-id">ID en el registro UE de lobbies</label>
          <input type="text" class="form-control save" name="registerid" id="register-id" placeholder="Register ID">
          <p>
            Si tu organización no está registrada, puedes hacerlo <a href="http://ec.europa.eu/transparencyregister/info/homePage.do">aquí</a>.
            Las respuestas de las organizaciones no registrada se publicarán por separado.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h4>Tipo de encuestado</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-enduser" value="enduser">
          <strong>Usuario final/consumidor</strong>
          <span class="help">
            (p.ej. usuario de internet, lector, suscriptor a servicios de música o audiovisuales, investigador, estudiante)
          </span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-representEnduser" value="representEnduser">
          <strong>Representante de usuarios finales/consumidores</strong>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-institution" value="institution">
          <strong>Usuario institucional</strong>
          <span class="help">
            (p.ej. colegio, universidad, centro de investigación, biblioteca, archivo)
          </span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-representInstitution" value="representInstitution">
          <strong>Representante de usuarios institucionales</strong>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-author" value="author">
          <strong>Autor/artista</strong> o <strong>representante de autores/artistas</strong>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-publisher" value="publisher">
          <strong>Editor/Productor/Emisor</strong> o <strong>Representante de editores/productores/emisores</strong>
        </label>
      </div>
      <small>
        <a href="#more-typeofrespondent" class="toggle">¿Ninguno de los anteriores? Ver más</a>
      </small>
      <div id="more-typeofrespondent" class="div-toggle">
        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-intermediary" value="intermediary">
            <strong>Intermediario/distribuidor/otros proveedores de servicios</strong>
            <span class="help">
              (p.ej. servicios de música o audiovisuales online, plataformas de juegos, medios sociales, motores de búsqueda, industria TIC)
            </span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-representIntermediary" value="representIntermediary">
            <strong>Representante de intermediarios/distribuidores/otros proveedores de servicios</strong>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-collective" value="collective">
            <strong>Organización de gestión colectiva</strong>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-publicauthority" value="publicauthority">
            <strong>Autoridad pública</strong>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-memberstate" value="memberstate">
            <strong>País miembro</strong>
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-other" value="other">
            <strong>Otros</strong>
          </label>
          <div class="radio-text">
            <label for="otherrespondent">Indicar</label>
            <textarea class="form-control save" name="typeofrespondentother" id="typeofrespondent-other-text"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row needs-js hide">
    <div class="col-lg-8 col-md-8">
      <h3>Guías sobre las preguntas</h3>
      <p class="lead">Las siguientes organizaciones han proporcionado guías sobre las preguntas:</p>
      <div class="list-group" id="question-guides">
      {% for answer in site.data.answers %}
        {% if page.language == answer.language %}
          <a href="?guide={{ answer.slug }}" class="list-group-item load-question-guide load-question-guide-{{ answer.slug }}">
            <h4 class="list-group-item-heading">
              {{ answer.name }}
            </h4>
            {% if answer.description %}
            <p class="list-group-item-text">
              {{ answer.description }}
            </p>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
      </div>
      <p class="help-block">Pulsa para ver sus explicaciones y sugerencias. <span class="guide">Su texto aparecerá marcado así</span>.</p>
    </div>
    <div class="col-lg-4 col-md-4" id="localstorage-hint">
      <h4>Tus respuestas están guardadas</h4>
      <p>
        Puedes tomar un descanso y volver más tarde, no se perderán las respuestas.
      </p>
      <button class="delete-localstorage btn btn-default btn-sm">
        Borrar respuestas guardadas
      </button>
    </div>
  </div>

</section>
