<!DOCTYPE html>
<html lang="{{ page.language }}">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl}}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl}}/css/style.css">
  <link rel="shortcut icon" href="{{ site.baseurl}}/img/favicon.png" />

</head>
<body>

{{ content }}

<script>
  var EUCopyright = EUCopyright || {};
  EUCopyright.baseurl = "{{ site.baseurl}}";
  EUCopyright.questions = [
    {% for question in site.data.questions %}
    {
      num: {{ question.num }},
      {% if question.options %}
        options: [
          {% for opt in question.options %}
            {
              num: {{ forloop.index0 }},
              {% if opt.odf %}
                odf: [
                  {% for odf in opt.odf %}
                    {
                      action: "{{ odf.action }}",
                      key: "{{ odf.key }}"
                    }{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                ],
              {% endif %}
              fulltext: {% if opt.fulltext %}true{% else %}false{% endif %}
            }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ],
      {% endif %}
    {% if question.odf %}
      odf: [
      {% for odf in question.odf %}
        {
          action: "{{ odf.action }}",
          key: "{{ odf.key }}"
        }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
      ],
    {% endif %}
    type: "{{ question.type }}"
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}];
  EUCopyright.answers = {
    {% for answer in site.data.answers %}
      {{ answer.slug }}: {
        {% if answer.url contains "http://" or answer.url contains "https://" %}
        url: "{{ answer.url }}",
        {% else %}
        url: "{{ site.baseurl}}{{ answer.url }}",
        {% endif %}
        language: "{{ answer.language }}",
        slug: "{{ answer.slug }}",
        name: "{{ answer.name }}"
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>

<script type="text/javascript" src="{{ site.baseurl}}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/autogrow.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/jszip.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/eucopyright.js"></script>

<script type="text/javascript">
(function(){
  /* Use downloadify if Blob URLs are not supported */
  if (window.URL === undefined || !JSZip.support.blob) {
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src="{{ site.baseurl}}/js/swfobject.js";
    s.parentNode.insertBefore(g,s);
    g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src="{{ site.baseurl}}/js/downloadify.min.js";
    s.parentNode.insertBefore(g,s);
  }
}());
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u="https://fragdenstaat.de/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "2"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</body>
</html>