<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Public Consultation on the review of the EU copyright rules</title>

  <link rel="stylesheet" href="{{ site.baseurl}}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl}}/css/style.css">
  <link rel="shortcut icon" href="{{ site.baseurl}}/img/favicon.png" />

</head>
<body data-spy="scroll" data-target=".side-navbar">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">
      EU Copyright Consultation
    </a>
    <form class="navbar-form navbar-left" role="search">
      <button id="compile" type="submit" class="btn btn-primary">&rarr; Download Finished Document</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row header-row">
    <div class="col-lg-12">
      <h1>
        <small>Inofficial web form for the</small><br/>
          Public Consultation<br/>
          on the review of the EU copyright rules
      </h1>
    </div>
    <div class="col-lg-4">
      <a href="http://copyright4creativity.eu/">
        <img src="{{ site.baseurl}}/img/c4c.png" alt="Coyright for Creativity">
      </a>
    </div>
  </div>
  <div class="row">

    {{ content }}

  </div> <!-- /.row -->
  <div class="row footer-row">
    <div class="col-lg-12 text-right">
      <hr/>
      <a href="http://www.okfn.de/">
        <img src="{{ site.baseurl}}/img/okf.png" alt="Open Knowledge Foundation Germany"/>
      </a>
    </div>
  </div>
</div> <!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Almost done!</h4>
      </div>
      <div class="modal-body">
        <p class="lead">
          <strong>1. Click the "Download" button below</strong><br/>
          <strong>2. Please send the downloaded document by email to</strong>
        </p>

        <div class="center-block text-center">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <input type="text" class="form-control" value="markt-copyright-consultation@ec.europa.eu"/>
            </div>
          </div>
        </div>

        <hr/>

        <p>
          The <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/privacy-statement_en.pdf">Privacy statement of the European Commission</a> applies.
        </p>

        <p>Thanks for helping to change copyright policy for the better!</p>

      </div>
      <div class="modal-footer">
        <a id="download" href="" class="pull-right btn btn-primary disabled">Download</a>
        <div class="pull-left" id="download-preparing">Please wait while download is preparing...</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" src="{{ site.baseurl}}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/jszip.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/js/eucopyright.js"></script>
</body>
</html>