---
layout: base
questions:
  all: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,28,29,30,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,71,72,73,74,76,77,78,80]
  general: [1,11,12,13,20,21,22,23,24,25,26,64,65,67,68,71,77,80]
  headlines:
    1: accesstocontent
    42: teaching
    47: research
    53: textdatamining
    58: usergeneratedcontent
    2: rightsholder_title
    11: linking
    13: downloadtoown
    21: limitations
    64: privatecopying
    77: respectforrights
    2: rightsholder_title
    28: accesscontent
    32: offpremiseaccess
    36: elending
    40: massdigitisation
    50: disabilities
    72: remuneration
    15: registration
    19: identifiers
    66: privatecopying
    9: rightsholder_title
    80: otherissues

---

<div class="container">
  <h1 class="big-title">{% if site.data.persona.translations.title[page.language] %}{{ site.data.persona.translations.title[page.language] }}{% else %}{{ site.data.persona.translations.title.en }}{% endif %}</h1>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <p class="lead">
        {% if site.data.persona.translations.subtitle[page.language] %}{{ site.data.persona.translations.subtitle[page.language] }}{% else %}{{ site.data.persona.translations.subtitle.en }}{% endif %}
      </p>
    </div>
  </div>
<form id="consultation-form" method="post" action="{{ site.document_service }}?redirect=http%3a//{{ site.domain }}/{{ page.language }}/thanks.html">
<input type="hidden" name="language" value="{{ page.language }}"/>
<div id="persona-section">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 personas">
      <p>
        {% if site.data.persona.translations.introparagraph[page.language] %}{{ site.data.persona.translations.introparagraph[page.language] }}{% else %}{{ site.data.persona.translations.introparagraph.en }}{% endif %}
      </p>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <label class="thumbnail" id="label-onlineuser">
            <input type="checkbox" name="typeofrespondent" id="typeofrespondent-enduser" value="enduser" checked>
            {% if site.data.persona.translations.enduser[page.language] %}{{ site.data.persona.translations.enduser[page.language] }}{% else %}{{ site.data.persona.translations.enduser.en }}{% endif %}
          </label>
        </div>
        <div class="col-md-6 col-lg-6">
          <label class="thumbnail" id="label-parent">
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-representEnduser" value="representEnduser">
            {% if site.data.persona.translations.parent[page.language] %}{{ site.data.persona.translations.parent[page.language] }}{% else %}{{ site.data.persona.translations.parent.en }}{% endif %}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <label class="thumbnail" id="label-teacher">
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-institution" value="institution">
            {% if site.data.persona.translations.teacher[page.language] %}{{ site.data.persona.translations.teacher[page.language] }}{% else %}{{ site.data.persona.translations.teacher.en }}{% endif %}
          </label>
        </div>
        <div class="col-md-6 col-lg-6">
          <label class="thumbnail" id="label-business">
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-intermediary" value="intermediary">
            {% if site.data.persona.translations.entrepreneur[page.language] %}{{ site.data.persona.translations.entrepreneur[page.language] }}{% else %}{{ site.data.persona.translations.entrepreneur.en }}{% endif %}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <label class="thumbnail" id="label-librarian">
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-institution" value="institution">
            {% if site.data.persona.translations.librarian[page.language] %}{{ site.data.persona.translations.librarian[page.language] }}{% else %}{{ site.data.persona.translations.librarian.en }}{% endif %}
          </label>
        </div>
        <div class="col-md-6 col-lg-6">
          <label class="thumbnail" id="label-blogger">
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-author" value="author">
            {% if site.data.persona.translations.blogger[page.language] %}{{ site.data.persona.translations.blogger[page.language] }}{% else %}{{ site.data.persona.translations.blogger.en }}{% endif %}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <label class="thumbnail" id="label-disabled">
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-enduser" value="enduser">
            {% if site.data.persona.translations.disabled[page.language] %}{{ site.data.persona.translations.disabled[page.language] }}{% else %}{{ site.data.persona.translations.disabled.en }}{% endif %}
          </label>
        </div>
        <div class="col-md-6 col-lg-6">
          <label class="thumbnail" id="label-rightsholder">
            <input type="checkbox" class="save" name="typeofrespondent" id="typeofrespondent-publisher" value="publisher">
            {% if site.data.persona.translations.rightsholder[page.language] %}{{ site.data.persona.translations.rightsholder[page.language] }}{% else %}{{ site.data.persona.translations.rightsholder.en }}{% endif %}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8">
          <a href="#persona-questions" class="continue-questions btn btn-primary btn-lg">
            &raquo; {% if site.data.persona.translations.continuequestions[page.language] %}{{ site.data.persona.translations.continuequestions[page.language] }}{% else %}{{ site.data.persona.translations.continuequestions.en }}{% endif %}
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4">
          <p>
            {% if site.data.persona.translations.questionhint[page.language] %}{{ site.data.persona.translations.questionhint[page.language] }}{% else %}{{ site.data.persona.translations.questionhint.en }}{% endif %}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h4>{% if site.data.persona.translations.otherlanguages[page.language] %}{{ site.data.persona.translations.otherlanguages[page.language] }}{% else %}{{ site.data.persona.translations.otherlanguages.en }}{% endif %}</h4>
      <ul class="list-unstyled">
        {% for lang in site.languages %}
          {% if lang != page.language %}
            <li>
              <a href="{{ site.baseurl }}/{{ lang }}/">
                <span class="flag flag-{{ lang }}"></span>
                {{ site.data.translations.replyInLanguage[lang] }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <p>
        {% if site.data.persona.translations.languagedisclaimer[page.language] %}{{ site.data.persona.translations.languagedisclaimer[page.language] }}{% else %}{{ site.data.persona.translations.languagedisclaimer.en }}{% endif %}
      </p>
      <h4>{% if site.data.persona.translations.otherguides[page.language] %}{{ site.data.persona.translations.otherguides[page.language] }}{% else %}{{ site.data.persona.translations.otherguides.en }}{% endif %}</h4>
      <a href="http://www.copywrongs.eu/" class="btn btn-default">
        copywrongs.eu
      </a>
      <br/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="progress" id="progress-bar">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      </div>
    </div>
  </div>
</div>
  <div class="row" id="persona-questions">
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-push-8 col-md-push-8 col-sm-push-8">
      <hr/>
      <p class="buffer-row">
        {% if site.data.persona.translations.explanationorigin[page.language] %}{{ site.data.persona.translations.explanationorigin[page.language] }}{% else %}{{ site.data.persona.translations.explanationorigin.en }}{% endif %}
      </p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-lg-pull-4 col-md-pull-4 col-sm-pull-4">
      <div class="question-sections">
        {% for question_num in page.questions.all %}
          <div class="question-section question-section-{{ question_num }} {% if page.questions.general contains question_num %}general{% else %}not-general{% endif %}">
            {% capture title_name %}{{ page.questions.headlines[question_num] }}{% endcapture %}
            {% if title_name %}
              <h3>
                {% if site.data.persona.translations[title_name][page.language] %}{{ site.data.persona.translations[title_name][page.language] }}{% else %}{{ site.data.persona.translations[title_name].en }}{% endif %}
              </h3>
            {% endif %}
            {% include question_only_loop.html %}
          </div>
        {% endfor %}
      </div>

      <div class="well">
        <div class="form-group">
          <label for="name">{% if site.data.persona.translations.fullname[page.language] %}{{ site.data.persona.translations.fullname[page.language] }}{% else %}{{ site.data.persona.translations.fullname.en }}{% endif %}</label>
          <input type="text" class="form-control save" name="name" id="name" placeholder="Enter your name">
          <p class="help-block">
            {% if site.data.persona.translations.namehelp[page.language] %}{{ site.data.persona.translations.namehelp[page.language] }}{% else %}{{ site.data.persona.translations.namehelp.en }}{% endif %}
          </p>
        </div>
        <div class="form-group">
          <label for="email"><span class="hidden-xs hidden-sm">{% if site.data.persona.translations.email[page.language] %}{{ site.data.persona.translations.email[page.language] }}{% else %}{{ site.data.persona.translations.email.en }}{% endif %}</label>
          <input type="email" class="form-control save" name="email" placeholder="your@email.eu">
          <p class="help-block">
            <strong class="visible-xs visible-sm">{% if site.data.persona.translations.emaildocument[page.language] %}{{ site.data.persona.translations.emaildocument[page.language] }}{% else %}{{ site.data.persona.translations.emaildocument.en }}{% endif %}</strong>
            <span class="hidden-xs hidden-sm">{% if site.data.persona.translations.emaildocumentpossible[page.language] %}{{ site.data.persona.translations.emaildocumentpossible[page.language] }}{% else %}{{ site.data.persona.translations.emaildocumentpossible.en }}{% endif %}</span>
            <small>{% if site.data.persona.translations.emailprivacy[page.language] %}{{ site.data.persona.translations.emailprivacy[page.language] }}{% else %}{{ site.data.persona.translations.emailprivacy.en }}{% endif %}</small>
          </p>
        </div>
        <div class="checkbox">
          <label>
            {% if site.data.persona.translations.storelabel[page.language] %}{{ site.data.persona.translations.storelabel[page.language] }}{% else %}{{ site.data.persona.translations.storelabel.en }}{% endif %}
            <input type="checkbox" name="store" value="yes">
          </label>
        </div>
        <button type="submit" class="submit-form btn btn-lg btn-success">
          {% if site.data.persona.translations.submit[page.language] %}{{ site.data.persona.translations.submit[page.language] }}{% else %}{{ site.data.persona.translations.submit.en }}{% endif %}
        </button>
      </div>
    </div>
  </div>
  </form>
  {% include footer.html %}
<!-- Modal -->
  <div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{% if site.data.persona.translations.almostdone[page.language] %}{{ site.data.persona.translations.almostdone[page.language] }}{% else %}{{ site.data.persona.translations.almostdone.en }}{% endif %}</h4>
        </div>
        <div class="modal-body">
          <p class="lead hide email-sent final-cases">
            {% if site.data.persona.translations.sentbyemail[page.language] %}{{ site.data.persona.translations.sentbyemail[page.language] }}{% else %}{{ site.data.persona.translations.sentbyemail.en }}{% endif %}
          </p>

          <p class="lead hide download-only final-cases">
            {% if site.data.persona.translations.downloadonly[page.language] %}{{ site.data.persona.translations.downloadonly[page.language] }}{% else %}{{ site.data.persona.translations.downloadonly.en }}{% endif %}
          </p>

          <div class="center-block text-center">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <input type="text" class="form-control" value="markt-copyright-consultation@ec.europa.eu"/>
              </div>
            </div>
          </div>

          <hr/>

          <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fyoucan.fixcopyright.eu%2F&text=I%20helped%20to%20fix%20copyright%20thanks%20to%20%40FixIt_EU.%20Now%20it%E2%80%99s%20your%20turn%3A" class="btn btn-info">Share on Twitter</a>

          <small>
            {% if site.data.persona.translations.privacy[page.language] %}{{ site.data.persona.translations.privacy[page.language] }}{% else %}{{ site.data.persona.translations.privacy.en }}{% endif %}
          </small>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<script type="text/javascript" src="{{ site.baseurl}}/js/persona.js"></script>
